ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: baseline;
    padding: 5px 130px;
    text-decoration: none;
    border-bottom: 5px solid purple;
    with-linear-gradient 
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(45deg, rgb(157,81,255), rgb(250,224,66)) 1;
     font-family: 'Exo', sans-serif;
  font-family: 'Exo 2', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  }
  
  li a:hover {
    background-color: whitesmoke;
  }
  body{background-color:black;
    
  }
  
  
  
  H1{
    
   font-family: 'Exo', sans-serif;
  font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
  justify-content:flex-start;
    display:flex
    color: #E9EBEE;
   
  }
  

  
  
    p {
      font-family: 'Exo', sans-serif;
  font-family: 'Exo 2', sans-serif;
  font-family: 'Titillium Web', sans-serif;
      font-size: 10px;
      justify-content:center;
    display:flex;
    }
  #myheader{
  background-color: black;
    color: white;
    text-align: center;
    justify-content:center;
    display: 
    
  }
  
  .name {
    color: white;
    text-align: center
  }
  
  .character {
    
  }
  
  